{% block ad_content %}
<div class="col-12 col-lg-4 mb-3">
  <div class="card">
    <a href="">
      <img class="card-img img-fluid" src="{{ asset.resolve('default/ad/08-01-2017_1490936812367_1.png') }}" />
    </a>
  </div>
</div>
<div class="col-4 mb-3">
  <div class="card">
    <a href="">
      <img class="card-img img-fluid" src="{{ asset.resolve('default/ad/06-07-2017_1499325075500_1.png') }}" />
    </a>
  </div>
</div>
<div class="col-4 mb-3">
  <div class="card">
    <a href="">
      <img class="card-img img-fluid" src="{{ asset.resolve('default/ad/05-07-2017_1499167415321_1.png') }}" />
    </a>
  </div>
</div>
<div class="col-12">
  <div class="card">
    <a href="">
      <img class="card-img img-fluid" src="{{ asset.resolve('default/ad/17-05-2017_1495027409992_1.png') }}" />
    </a>
  </div>
</div>
{% endblock %}