{% block ad_content %}
<div class="col-4 mb-3">
  <div class="card">
    <a href="">
      <img class="card-img img-fluid" src="https://images.hepsiburada.net/assets/storefront/banners/08-01-2017_1490936812367_1.png" />
    </a>
  </div>
</div>
<div class="col-4 mb-3">
  <div class="card">
    <a href="">
      <img class="card-img img-fluid" src="https://images.hepsiburada.net/assets/storefront/banners/06-07-2017_1499325075500_1.png" />
    </a>
  </div>
</div>
<div class="col-4 mb-3">
  <div class="card">
    <a href="">
      <img class="card-img img-fluid" src="https://images.hepsiburada.net/assets/storefront/banners/05-07-2017_1499167415321_1.png" />
    </a>
  </div>
</div>
<div class="col-12">
  <div class="card">
    <a href="">
      <img class="card-img img-fluid" src="https://images.hepsiburada.net/assets/storefront/banners/17-05-2017_1495027409992_1.png" />
    </a>
  </div>
</div>
{% endblock %}