{% block main_banner %}
<div class="main-banner">
  <div class="card">
    <div class="owl-carousel owl-theme">
      <div><img class="card-img img-fluid owl-lazy" data-src="https://images.hepsiburada.net/assets/storefront/banners/08-07-2017_1499341752668_1.png" /></div>
      <div><img class="card-img img-fluid owl-lazy" data-src="https://images.hepsiburada.net/assets/storefront/banners/08-07-2017_1499428742191_1.png" /></div>
      <div><img class="card-img img-fluid owl-lazy" data-src="https://images.hepsiburada.net/assets/storefront/banners/01-07-2017_1499428179629_1.png" /></div>
      <div><img class="card-img img-fluid owl-lazy" data-src="https://images.hepsiburada.net/assets/storefront/banners/07-07-2017_1499428377509_1.png" /></div>
    </div>
  </div>
</div>
{% endblock %}