{% block main_banner %}
<div class="main-banner">
  <div class="card">
    <div class="card-block">
      <div class="owl-carousel owl-theme">
        <div> Your Content </div>
        <div> Your Content </div>
        <div> Your Content </div>
        <div> Your Content </div>
        <div> Your Content </div>
        <div> Your Content </div>
        <div> Your Content </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}