{% block product %}
<div class="product mt-2 mb-2">
  <a href title="Apple iPhone 7 32 GB (Apple Türkiye Garantili)">
    <div class="image text-center mb-2">
      <div class="owl-carousel owl-theme">
        <div><img class="img-fluid owl-lazy" data-src="https://images.hepsiburada.net/assets/Telefon/200/9502147248178.jpg" /></div>
        <div><img class="img-fluid owl-lazy" data-src="https://images.hepsiburada.net/assets/Telefon/200/9502146625586.jpg" /></div>
        <div><img class="img-fluid owl-lazy" data-src="https://images.hepsiburada.net/assets/Telefon/200/9502146658354.jpg" /></div>
        <div><img class="img-fluid owl-lazy" data-src="https://images.hepsiburada.net/assets/Telefon/200/9502146691122.jpg" /></div>
      </div>
    </div>
    <div class="name text-center mb-3">
      Apple iPhone 7 32 GB (Apple Türkiye Garantili)
    </div>
    <div class="prices row">
      <div class="reduce col-5 text-right align-self-center">
        <div>%15</div>
      </div>
      <div class="prices-inner col-7 text-left pl-0">
        <div class="from-price"><strike>3.799,00 TL</strike></div>
        <div class="price">3.239,89 TL</div>
      </div>
    </div>
  </a>
</div>
{% endblock %}