<html>
  <head>
    <meta charset="UTF-8">
    <title>Account Password Reset</title>
  </head>
  <body>
    <h2>Account Password Reset</h2>
    {% if token %}
        token var
      <form method="post">
        <input type="password" placeholder="Yeni şifre" name="password"/> <button type="submit">Tamam</button>
      </form>
    {% else %}
        token yok
      <form method="post">
        <input type="email" placeholder="E-posta" name="email"/> <button type="submit">Tamam</button>
      </form>

    {% endif %}

    {% if reset_password_failed %}
      {{ reset_password_failed }}
    {% endif %}

    {% if error_fields  %}
      <ul>
          {% for field in error_fields  %}
            <li>{{ field.field }} {{ field.message }}</li>
          {% endfor %}
      </ul>

    {% endif %}

  </body>
</html>
