{% block header %}
  <header class="header mb-3">
    <div class="container">
      <div class="top-menu mb-4 pt-2 d-flex justify-content-start">
        <div class="part">
          <a href class="mr-2">Menü 1</a>
          <a href class="mr-2">Menü 2</a>
          <a href class="mr-2">Menü 3</a>
          <a href class="mr-2">Menü 4</a>
          <a href class="mr-2">Menü 5</a>
        </div>
        <div class="part ml-auto">
          <a href class="ml-2">Menü 1</a>
          <a href class="ml-2">Menü 2</a>
          <a href class="ml-2">Menü 3</a>
          <a href class="ml-2">Menü 4</a>
          <a href class="ml-2">Menü 5</a>
        </div>
      </div>
      <div class="main-controls mb-3 d-flex justify-content-between flex-nowrap">
        <div class="logo mr-4 align-self-center">
          <a href="/">
            <img src="{{ asset.resolve('default/platinmarket-logo.png') }}" />
          </a>
        </div>
        <div class="search-bar align-self-center">
          <div class="input-group">
            <input type="search" class="form-control" placeholder="" />
            <span class="input-group-btn">
              <button href="/search" class="btn btn-primary" type="submit">Ara</button>
            </span>
          </div>
        </div>
        <div class="top-user ml-4 align-self-center">
          <div class="d-flex flex-nowrap justify-content-end">
            <a href="" class="btn btn-outline-info mr-1"><i class="fa fa-user-circle"></i> Hesabım</a>
            <a href="" class="btn btn-outline-primary ml-1"><i class="fa fa-shopping-basket"></i> Sepetim <span class="badge badge-pill badge-primary">5</span></a>
          </div>
        </div>
      </div>
    </div>
    <div class="main-menu">
      <div class="container">
        <div class="menu d-inline-flex justify-content-between flex-nowrap">
          {% block right_menu %}
          <a href class="p-2 align-self-center">Menü 1</a>
          <a href class="p-2 align-self-center">Menü 2</a>
          <a href class="p-2 align-self-center">Menü 3</a>
          <a href class="p-2 align-self-center">Menü 4</a>
          <a href class="p-2 align-self-center">Menü 5</a>
          {% endblock %}
        </div>
      </div>
    </div>
    <div class="main-flash">
      <div class="flash-content">
        {% block flash %}
          <img class="img-fluid" src="{{ asset.resolve('default/ad/07-07-2017_1499349142867_2.png') }}" />
        {% endblock %}
      </div>
    </div>
  </header>
{% endblock %}