.footer{

  ul,li{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .footer-top{
    background-color: #CFD8DC;

    .about,
    .social,
    .mail-list{
      font-size: 90%;
      color: #37474F;
      a{
        font-size: 90%;
        color: #37474F;
      }
    }

    .social{
      .fa{
        vertical-align: bottom;
        font-size: 1.2rem;
        margin-right: .75rem;
      }
    }

    .mail-list{
      .form-control{
        border-color: $teal;
      }
    }
  }

  .footer-bottom{
    font-size: 80%;
    background-color: #263238;
    color: #fff;
  }
}