<!DOCTYPE HTML>
<html lang="en">
<head>
  <title>{{ page_title }}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
  <header class="header mb-4">
    <div class="container">
      <div class="top-menu mb-2 d-flex justify-content-start">
        <div class="part p-2">
          <a href class="mr-2">Menü 1</a>
          <a href class="mr-2">Menü 2</a>
          <a href class="mr-2">Menü 3</a>
          <a href class="mr-2">Menü 4</a>
          <a href class="mr-2">Menü 5</a>
        </div>
        <div class="part p-2 ml-auto">
          <a href class="ml-2">Menü 1</a>
          <a href class="ml-2">Menü 2</a>
          <a href class="ml-2">Menü 3</a>
          <a href class="ml-2">Menü 4</a>
          <a href class="ml-2">Menü 5</a>
        </div>
      </div>
      <div class="main-controls mb-3 d-flex justify-content-between flex-nowrap">
        <div class="logo p-2 mr-4 align-self-center">
          <a href>
            <img src="https://www.platinmarket.com/wp-content/uploads/2017/05/platinmarket-logo.png" />
          </a>
        </div>
        <div class="search-bar p-2 align-self-center">
          <div class="input-group">
            <input type="search" class="form-control" placeholder="" />
            <span class="input-group-btn">
              <button href="/search" class="btn btn-primary" type="submit">Ara</button>
            </span>
          </div>
        </div>
        <div class="top-user ml-4 p-2 align-self-center">
          <div class="d-flex flex-nowrap justify-content-end">
            <a href="" class="btn btn-outline-info mr-1"><i class="fa fa-user-circle"></i> Hesabım</a>
            <a href="" class="btn btn-outline-primary ml-1"><i class="fa fa-shopping-basket"></i> Sepetim <span class="badge badge-pill badge-primary">5</span></a>
          </div>
        </div>
      </div>
    </div>
    <div class="main-menu">
      <div class="container">
        <div class="menu d-inline-flex justify-content-between flex-nowrap">
          <a href class="p-2 align-self-center">Menü 1</a>
          <a href class="p-2 align-self-center">Menü 2</a>
          <a href class="p-2 align-self-center">Menü 3</a>
          <a href class="p-2 align-self-center">Menü 4</a>
          <a href class="p-2 align-self-center">Menü 5</a>
        </div>
      </div>
    </div>
    <div class="main-flash">
      <div class="container">
        <div class="flash-content p-2">
          main flash area
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="main-banner">
      main banner
    </div>

    asdasd
  </div>

  <footer class="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-4 about">
            <div class="p-2 pt-4 pb-4">
              <p class="h6 mb-4">PlatinMarket</p>
              <div class="row">
                <div class="col-6">
                  <ul>
                    <li><a href>İşlem Rehberi</a></li>
                    <li><a href>Hesabım</a></li>
                    <li><a href>Ödeme Seçenekleri</a></li>
                    <li><a href>Banka Kampanyaları</a></li>
                  </ul>
                </div>
                <div class="col-6">
                  <ul>
                    <li><a href>Hakkımızda</a></li>
                    <li><a href>Bizden Haberler</a></li>
                    <li><a href>İletişim</a></li>
                    <li><a href>Yardım</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4 social">
            <div class="p-2 pt-4 pb-4">
              <p class="h6 mb-4">Bizi Takip Edin</p>
              <div class="row">
                <div class="col-6">
                  <ul>
                    <li><a href><i class="fa fa-facebook-square"></i>facebook</a></li>
                    <li><a href><i class="fa fa-twitter-square"></i>twitter</a></li>
                    <li><a href><i class="fa fa-instagram"></i>instagram</a></li>
                    <li><a href><i class="fa fa-youtube-square"></i>youtube</a></li>
                  </ul>
                </div>
                <div class="col-6">
                  <ul>
                    <li><a href><i class="fa fa-linkedin-square"></i>linkedin</a></li>
                    <li><a href><i class="fa fa-google-plus-square"></i>google+</a></li>
                    <li><a href><i class="fa fa-pinterest-square"></i>pinterest</a></li>
                    <li><a href><i class="fa fa-rss-square"></i>blog</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4 mail-list">
            <div class="p-2 pt-4 pb-4">
              <p class="h6 mb-4">Haberiniz Olsun</p>
              <div class="help-block mb-2">Kampanyalar ve yenilikler hakkında bilgi sahibi olmak için e-posta listemize kayıt olun.</div>
              <div class="input-group">
                <input type="email" class="form-control" placeholder="E-posta adresiniz" />
                <span class="input-group-btn">
                  <button href="" class="btn btn-primary" type="submit">Katıl</button>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="p-2">
          <div class="row">
            <div class="col-6">
              Copyright 2017 PlatinMarket - Tüm hakları saklıdır
            </div>
            <div class="col-6 text-right">
              100% güvenli alışveriş
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>

<link rel="stylesheet" href="{{ asset.resolve('default/app.css') }}" />
<script type="application/javascript" src="{{ asset.resolve('default/app.js') }}"></script>
</html>
